.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  max-width: 40rem;
}

input {
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
}

button {
  border: none;
  padding: 1em 2em;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 300ms;
  background-color: rebeccapurple;

  &:hover, &:focus-visible {
    background-color: blueviolet;
  }
}